*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*Useful things*/
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.button-blue{
    background-color: #46adf2;
    color: white;
    border-radius: 7px;
    padding: 4px;
    border: 3px;
}
.button-purple{
    background-color: #9b71e3;
    color: white;
    border-radius: 7px;
    padding: 4px;
}
.button-lightgreen{
    background-color: #63bfa8;
    color: white;
    border-radius: 7px;
    padding: 4px;
}
.button-orange{
    background-color: #f29f33;
    color: white;
    border-radius: 7px;
    padding: 4px;
}
.button-pink{
    background-color: #d964a0;
    color: white;
    border-radius: 7px;
    padding: 4px;
}
.button-green{
    background-color: #b1c926;
    color: white;
    border-radius: 7px;
    padding: 4px;
}
/*Header*/
.logo{
    display: inline-block;
    vertical-align: middle;
    
}
header{
    background-color: white;
}
/*Main*/
main{
    background-color: #f7f9fa;
    background-size: 100%;
}
#task{
border-radius: 5px;
border-width: 80%;
}
#section{
    border-radius: 5px;
}

ul{
    list-style: none;
}
